body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: margin-left 0.4s ease-in-out;
}

#map {
    width: 100%;
    height: 590px;
    transition: margin-left 0.4s ease-in-out;
}

/* Sidebar fijo sin oscurecer */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #f4f4f4;
    position: fixed;
    left: -260px;
    top: 0;
    transition: left 0.4s ease-in-out;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 45px;
}

/* Ajustar el título del Geoportal */
.navbar-brand {
    margin-left: 60px; /* Evita que el botón hamburguesa lo tape */
}

/* Ajustar la posición de los íconos en el menú */
.sidebar {
    padding-top: 50px; /* Bajar los íconos dentro del menú */
}

.sidebar.active {
    left: 0;
}

/* Contenedor principal que se desplaza con el menú */
#main-container {
    transition: margin-left 0.4s ease-in-out;
}

/* Desplazar cuando sidebar está activo */
.sidebar.active + #main-container,
.sidebar.active ~ #main-container {
    margin-left: 250px;
}

/* Botón hamburguesa dentro del contenedor, ahora se moverá con el encabezado */
.menu-btn {
    position: absolute; /* Cambiado de fixed a absolute */
    top: 10px;
    left: 15px;
    background-color: #198754;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    z-index: 1001; /* Suficiente para estar encima del navbar */
}

/* Contenedor de botones flotantes dentro del mapa */
.icon-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
    pointer-events: auto;
}

.icon-button {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
    width: 50px;
    height: 50px;
    font-size: 16px;
}

#polygon-color {
    margin-bottom: 10px;
    width: 50%;
    height: 50px;
    border: none;
    cursor: pointer;
}

/* Contenedor de coordenadas */
#coordinates {
    position: absolute;
    top: 70px;
    right: 10px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
    z-index: 1000;
    font-size: 14px;
}
